@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  @apply scrollbar-hide;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px white;
  -webkit-appearance: none;
  @apply bg-red-600;

}