# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
KrakenWeb/node_modules
KrakenWeb/.pnp
KrakenWeb/.pnp.js
KrakenWeb/.yarn/install-state.gz

# testing
KrakenWeb/coverage

# next.js
KrakenWeb/.next/
KrakenWeb/out/

# production
KrakenWeb/build

# misc
KrakenWeb/.DS_Store
KrakenWeb/*.pem

# debug
KrakenWeb/npm-debug.log*
KrakenWeb/yarn-debug.log*
KrakenWeb/yarn-error.log*

# local env files
KrakenWeb/.env
KrakenWeb/.env*.local

# vercel
KrakenWeb/.vercel

# typescript
KrakenWeb/*.tsbuildinfo
KrakenWeb/next-env.d.ts

KrakenWeb/.env
